@{
    ViewBag.Title = "OrderHistory";
}


<br><br><br>

<!-- HEADER -->
        <div class="container-fluid" style="background-color:#ffe8d3;">
            <div class="row">
                <div class="col-md-6">
                    <h2>Bestel Geschiedenis</h2>
                </div>
            </div>
            <!-- WHEN NOT HARDCODED THESE SHOULD BE GENERATED WITH A FOREACH -->
            <div class="row">

                <div class="col-md-12">
                    <table class="table">
                        @foreach (var item in ViewBag.Orders)
                        {
                            <tr>
                                <td>Bestelling @item.Id</td>
                                <td>Datum @item.Datum</td>
                            </tr>
                            <tr>
                                <td>&#8364; @item.Prijs</td>
                                <td>Status @item.OrderStatus</td>
                            </tr>
                            <tr>
                                <td><a asp-controller="Order" asp-action="ViewOrder" asp-route-orderId="@item.Id">Bestelling bekijken</a></td>
                            </tr>
                            <br>
                        }
                    </table>
                </div>
            </div>
        </div>