@model IEnumerable<petgoods4all.Models.Account>

@{
    ViewData["Title"] = "Klanten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klanten</h2>


    <a asp-action="Create">Create New</a>
    <a asp-area="" asp-controller="Admin" asp-action="AdminCreateAccount">Nieuwe klant</a><br />

</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.straatnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefoonnummer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.straatnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoonnummer)
            </td>
            <td>

                <a asp-action="AdminKlantEdit" asp-controller="Admin" asp-route-id="@item.id">Bewerken</a> |
                <a asp-action="AdminKlantDetails" asp-controller="Admin" asp-route-id="@item.id">Details</a> |
                <a asp-action="AdminKlantDelete" asp-controller="Admin" asp-route-id="@item.id">Verwijder</a>

            </td>
        </tr>
}
    </tbody>
</table>
