@model IEnumerable<petgoods4all.Models.Account>

@{
    ViewData["Title"] = "Klanten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#ffe8d3;">
<h2>Klanten</h2>

<p>
    <a asp-action="AdminHome">Terug naar de Home pagina</a><br>
    <a asp-area="" asp-controller="Admin" asp-action="AdminCreateAccount">Nieuwe klant</a><br />
</p>
<table class="table" style="background-color:#ffe8d3;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>      
            <td>
                <a asp-action="AdminKlantEdit" asp-controller="Admin" asp-route-id="@item.id">Bewerken</a>
                <a asp-action="AdminKlantDetails" asp-controller="Admin" asp-route-id="@item.id">Details</a>
                <a asp-action="AdminKlantDelete" asp-controller="Admin" asp-route-id="@item.id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>