@model IEnumerable<petgoods4all.Models.Account>

@{
    ViewData["Title"] = "Klanten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/adminKlantIndex.css" />
</head>

<div id="adminResponsive" class="container-fluid" style="background-color:#ffe8d3;">
    <div class="row">
    <h2>Klanten</h2>

    <p>
        <!-- <a asp-action="AdminHome">Terug naar de Home pagina</a><br>
        <a asp-area="" asp-controller="Admin" asp-action="AdminCreateAccount">Nieuwe klant</a><br /> -->
        <div style="margin-left: 20px;">
        <form class="input-group" method="put">
            <button 
                type="submit" asp-area="" asp-controller="Admin" asp-action="AdminHome" 
                class="btn btn-warning ">Terug naar de Home pagina
            </button><br/><br/>
            <button 
                type="submit" asp-area="" asp-controller="Admin" asp-action="AdminCreateAccount" 
                class="btn btn-warning ">Nieuwe klant toevoegen
            </button>
        </form>
        </div>
    </p>
   
    <div style="display: inline-block;">
        <form class="nav navbar-form form-inline" method="post" asp-controller="Admin" asp-action="AdminKlantIndex">
            <input class="form-control mr-sm-2" type="search" placeholder="Zoeken op e-mailadres" aria-label="Search" id="accountSearch" name="accountSearch" style="display: inline-block;">
        </form>
    </div>
    <div>
        <form class="nav navbar-form form-inline" method="get" asp-controller="Admin" asp-action="AdminKlantIndex">
            Sorteer op:<br>
            <select class="form-control" id="Categories" name="Categories" style="display: inline-block;">
                <option></option>
                <option>E-mail</option>
                <option>Admin</option>
            </select>
            <input class="btn btn-success" type="submit" style="display: inline-block;"/>
        </form>
    </div>
    <div style="margin-left: 20px; margin-right: 20px;">
        <table class="table" style="background-color:#ffe8d3;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("E-mailadres")
                    </th>
                    <th> 
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.Admin)
                        </td>
                        <td>
                            <a id="marginLeft" asp-action="AdminKlantEdit" asp-controller="Admin" asp-route-id="@item.id">Bewerken</a>
                            <a id="marginLeft" asp-action="AdminKlantDetails" asp-controller="Admin" asp-route-id="@item.id">Details</a>
                            <a id="marginLeft" asp-action="AdminKlantDelete" asp-controller="Admin" asp-route-id="@item.id">Verwijder</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--begin page pagination-->
        @{
            string fvis;
            string lvis;
            var second = ViewBag.paginationindex - 1;
            var third = ViewBag.paginationindex + 1;
            if (second != 0)
            {
                fvis = "visible";
            }
            else
            {
                fvis = "hidden";
            }
            if (third >= (ViewBag.count / 16) + 2)
            {
                lvis = "hidden";
            }
            else
            {
                lvis = "visible";
            }
            if (second < 1)
            {
                second = 1;
            }
        }
        <div class="row">
            <div class="text-center" >
                <ul class="pagination">
                    <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                    @if(@ViewBag.searched != true)
                    {
                    <li class="page-item" style="visibility:@fvis">
                        <a class="page-link" asp-area="" asp-controller="Admin" asp-action="AdminKlantIndex" asp-route-P="@second">@second</a>
                    </li>
                    <li class="page-item">
                        <a style="color:black;" class="page-link" asp-area="" asp-controller="Admin"
                           asp-action="AdminKlantIndex" asp-route-P="@ViewBag.paginationindex">@ViewBag.paginationindex</a>
                    </li>
                    <li class="page-item" style="visibility:@lvis">
                        <a class="page-link" asp-area="" asp-controller="Admin" asp-action="AdminKlantIndex" asp-route-P="@third">@third</a>
                    </li>
                    }
                    <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
                </ul>
            </div>
        </div>
    
        <!--end page pagination-->
    </div>
</div>
