@model petgoods4all.Models.Voorraad

@{
    ViewData["Title"] = "Voorraad Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#ffe8d3;">
    <h2 style="background-color:#ffe8d3;">Voorraad Details</h2>


    <h4>Voorraad</h4>
    <hr />
    <dl class="dl-horizontal" style=" word-wrap:break-word;">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subklasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subklasse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kwantiteit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kwantiteit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>
    </dl>

    <div style="background-color:#ffe8d3;">
        <!-- <a asp-action="AdminVoorraadEditSave" asp-route-id="@Model.Id">Bijwerken</a> |
        <a asp-action="AdminVoorraadIndex">Terug naar de lijst</a> -->
        <form class="input-group" method="put">
            <button 
                type="submit" asp-controller="Admin" asp-action="AdminVoorraadEditSave" 
                asp-route-id="@Model.Id"
                class="btn btn-warning">
                Bijwerken
            </button><br>
            <button
                type="submit" asp-controller="Admin" asp-action="AdminVoorraadIndex"
                class="btn btn-warning ">
                Terug naar de lijst
            </button>
        </form>
    </div>
</div>