
@{
    ViewBag.Title = "Producten";
}
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="~/Content/productBrowsen.css" />
</head>
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <h2>Selected animal tab</h2>
    <hr />
    <br />
    <!--begin selecting-->
    <div class="row">
        <button class="button button5">Sorting</button>
        <button class="button button5">Popular</button>
    </div>
    <br />
    <!--end selecting-->
    <!--begin products-->
    <div id="browsProduct">
        <div class="row">
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
        </div>
        <div class="row">
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
        </div>
        <div class="row">
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
            <div id="browsProductContainer" class="col-lg-3">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                <br />
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
        </div>
    </div>
    <!--end products-->
    <!--begin page pagination-->
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <!--end page pagination-->
</div>

