@model IEnumerable<petgoods4all.Models.Voorraad>
@{
    ViewBag.Title = "Friskies Pate";
}
<!-- Dit is gemaakt door Pepijn Fijt, als jullie het niet begrijpen dan moet je even een berichtje versturen-->
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<form class="form-products" method="post">
    <ul class="breadcrumb">
        <li><a href="../">Home</a></li>
        <li><a href="#">@foreach (var item in Model)
        {@Html.DisplayFor(modelItem => item.Naam)}</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-4">
            <img src="@foreach(var item in Model){@Html.DisplayFor(modelItem => item.image)}" alt="@foreach(var item in Model){@Html.DisplayFor(modelItem => item.Naam)}" />
        </div>
        <div class="col-sm-8">
            <h2>@foreach (var item in Model)
            {@Html.DisplayFor(modelItem => item.Naam)}</h2>
            <p style="color:red;">@foreach (var item in Model)
            {@Html.DisplayFor(modelItem => item.Prijs)}</p>
            <label for="sel1">Quantity:</label>
            <div>
                <div class="form-group col-sm-4">
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                @*@foreach (var item in Model)
                {
                    <input type="text" value="@item.Id" name="productId" id="productId" style="visibility:hidden">
                }*@

                @foreach (var item in Model) {
                <button type="submit" asp-controller="Voorraad" asp-action="AddToShoppingCart" asp-route-identication="@item.Id" class="btn btn-warning col-sm-4">Into shopping cart</button>
                }
            </div>
        </div>
        Delivery information
    </div>
    </form>
    <h3>Related options</h3>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-2">
                <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" class="img-responsive" />
            </div>
            <div class="col-sm-2">
                <p>@ViewBag.Title <br />&euro; 10,-</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" class="img-responsive" />
                </div>
                <div class="col-sm-2">
                    <p>@ViewBag.Title <br />&euro; 10,-</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" class="img-responsive" />
                </div>
                <div class="col-sm-2">
                    <p>@ViewBag.Title <br />&euro; 10,-</p>
                </div>
            </div>
        </div>
    </div>
    <h3>Product information</h3>
    <hr />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nulla sem, laoreet sit amet lobortis nec, auctor rhoncus ex. Maecenas quis turpis nisi. Integer viverra pretium libero, non aliquet est ornare id. Aliquam in venenatis libero. Nam ut nisi accumsan, accumsan sem vel, luctus lorem. Praesent sed sollicitudin turpis, in commodo purus. Fusce lorem arcu, suscipit vitae egestas eget, hendrerit at mauris. Nunc purus nisi, dignissim sit amet risus quis, faucibus pellentesque elit. Maecenas sodales convallis congue. Curabitur ullamcorper nibh quis euismod elementum. Cras egestas, mi quis mollis iaculis, eros mi egestas sem, vel auctor erat augue non magna. In condimentum pellentesque leo, sit amet molestie nibh tristique eu. Sed diam est, imperdiet ac ex ut, mattis mattis eros.
    </p>
    <p>
        Nam vel leo porttitor, dapibus sapien et, efficitur neque. Nulla facilisi. Nulla nisi nisl, laoreet eget posuere nec, semper interdum ante. Maecenas non turpis nec quam pellentesque facilisis quis vitae tellus. Nulla pretium fermentum nibh eu pharetra. Vivamus erat ipsum, vulputate at elit vel, convallis suscipit purus. Duis accumsan tristique ex, et facilisis quam interdum eget. Praesent tincidunt est purus, sed finibus mauris pharetra at. Nullam felis sem, egestas nec blandit at, dictum id eros. Duis iaculis rhoncus felis, eu dapibus tellus gravida ut. Fusce ex est, venenatis nec tincidunt sed, venenatis eleifend quam. Ut in maximus est, non tempus velit. Praesent a dignissim sem. Sed nisi dolor, ultrices tristique mattis et, rutrum vitae eros. Nulla tempor volutpat nibh, vitae molestie nulla hendrerit eget. Phasellus odio mauris, molestie at convallis id, cursus et sem.
    </p>
    <p>
        Duis vitae tellus nunc. Praesent ultrices vehicula malesuada. Sed eu tempus lorem, et hendrerit urna. Cras consequat fringilla tempor. Praesent tortor augue, dictum a iaculis vitae, mattis a risus. Donec libero libero, lobortis vitae tortor at, lacinia rutrum mauris. Donec at sagittis sapien. Fusce lobortis sem id sem fermentum, non consectetur quam euismod. Donec non scelerisque dui, eu mattis dolor. Nunc ut elit a nibh molestie hendrerit. Donec cursus auctor est, non auctor leo pharetra non. Nullam orci ligula, bibendum vel lorem nec, consectetur sodales magna. Maecenas luctus pulvinar erat, a tincidunt lorem convallis a. Mauris non congue justo.
    </p>
    <p>
        Morbi tempor leo interdum congue ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In tincidunt quam id lorem egestas pretium. Sed dignissim eros sit amet mi ultricies, id convallis est viverra. Vestibulum scelerisque rhoncus vehicula. Nulla tincidunt mattis mattis. Donec ultrices sapien ac sapien fermentum, et varius sem dictum.
    </p>
    <p>
        Mauris ullamcorper nulla non dolor faucibus, ut eleifend risus ullamcorper. Praesent in mauris molestie, venenatis lectus eu, pharetra purus. Integer mollis magna orci. Morbi rutrum, mauris non fermentum pellentesque, lorem ligula condimentum nunc, nec ullamcorper ligula ex vel augue. Curabitur tincidunt interdum enim, in pulvinar nulla maximus eget. Praesent massa mauris, iaculis eu tempor vel, malesuada non felis. Duis sit amet nunc quis dolor dignissim aliquam. Curabitur lobortis non magna quis blandit. Pellentesque feugiat odio purus. Donec interdum sodales mi. Curabitur non nunc bibendum, ultricies metus quis, cursus magna. Cras vitae laoreet lectus, eu sollicitudin sapien. Nullam euismod eleifend augue ac suscipit.
    </p>
