@model IEnumerable<petgoods4all.Models.Voorraad>
@{
    ViewBag.Title = "Producten";
}
<!--<h1>@ViewData["Type"]</h1>-->
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="~/Content/productBrowsen.css" />
</head>
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <h2>@ViewBag.animal</h2>
    <hr />
    <br />
    <!--begin selecting-->
    <div class="row">
        <button class="button button5">Sorteren</button>
        <button class="button button5">Populair</button>
        <div class="pull-right">
            @ViewBag.firstnum - @ViewBag.secondnum van @ViewBag.count resultaten
        </div>
    </div>
    <br />
    <div id="browsProduct">
        <div class="row" style="margin-left:70px;">
            @foreach(var item in Model)
            {
                <div id="browsProductContainer" class="col-lg-3">
                    <a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">
                    <img src="@Html.DisplayFor(modelItem => item.image)" alt="" onerror="this.onerror=null;this.src='../Content/Images/dogfood.jpg';" style="width:140px;height:140px;" />
                    </a>
                    
                        <li style="list-style-type: none;"><a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">@Html.DisplayFor(modelItem => item.Naam)</a></li>
                        <br/>
                        <a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">
                        &#8364; @Html.DisplayFor(modelItem => item.Prijs)
                        </a>
                </div>
            }
        </div>
    </div>
    <!--end selecting-->
           
    <!--begin page pagination-->
    @{
        string fvis;
        string lvis;
        var second = ViewBag.paginationindex - 1;
        var third = ViewBag.paginationindex + 1;
        if(second != 0)
        {
            fvis = "visible";
        }
        else
        {
            fvis = "hidden";
        }
        if(third >= (ViewBag.count/16)+2 )
        {
            lvis = "hidden";
        }
        else
        {
            lvis = "visible";
        }
        if(second < 1)
        {
            second = 1;
        }
    }
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
                <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                <li class="page-item" style="visibility:@fvis">
                <a class="page-link" asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="@ViewBag.animal" asp-route-P="@second">@second</a></li>
                <li class="page-item"><a style="color:black;"class="page-link" asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="@ViewBag.animal" asp-route-P="@ViewBag.paginationindex">@ViewBag.paginationindex</a></li>
                <li class="page-item" style="visibility:@lvis"><a class="page-link" asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="@ViewBag.animal" asp-route-P="@third">@third</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            </ul>
        </div>
    </div>
    <!--end page pagination-->
</div>

