@model IEnumerable<petgoods4all.Models.Voorraad>
@{
    ViewBag.Title = "Producten";
}
<!--<h1>@ViewData["Type"]</h1>-->
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="~/Content/productBrowsen.css" />
</head>
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <h2>@ViewBag.animal</h2>
    <hr />
    <br />
    <!--begin selecting-->
    <div class="row">
        <div style="padding-left:20px;">
        <form  method="POST"> 
        <label for="sel2">Sorteer: </label>
        <select class="form-control" id="sel2" name="sel2" asp-controller="Home" asp-action="productBrowsen" type="submit" onchange="this.form.submit()" style="display: inline-block;">
            <option> </option>
            @if(@ViewBag.sel2 == "Prijs ophogend")
            {
            <option selected>Prijs ophogend</option>
            }
            else
            {
            <option>Prijs ophogend</option>   
            }
            @if(@ViewBag.sel2 == "Prijs verlagend")
            {
            <option selected>Prijs verlagend</option>
            }
            else
            {
            <option>Prijs verlagend</option>   
            }
            @if(@ViewBag.sel2 == "Alfabetisch A-Z<")
            {
            <option selected>Alfabetisch A-Z</option>
            }
            else
            {
            <option>Alfabetisch A-Z</option>   
            }
            @if(@ViewBag.sel2 == "Alfabetisch Z-A")
            {
            <option selected>Alfabetisch Z-A</option>
            }
            else
            {
            <option>Alfabetisch Z-A</option>   
            }
        </select>
        </form>
        </div>
        <div class="pull-right">
            @ViewBag.firstnum - @ViewBag.secondnum van @ViewBag.count resultaten
        </div>
    </div>
    <br />
    <div id="browsProduct">
        <div class="flex-row" style="margin-left:70px;">
            @foreach(var item in Model)
            {
                <div id="browsProductContainer" class=" d-flex flex-lg-column  col-sm-3">
                    <div style="position:absolute; bottom:10px; left: 0; right: 0; margin:0 auto; " >
                        <a  asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">
                        &#8364; @Html.DisplayFor(modelItem => item.Prijs)
                        </a>
                    </div>
                    <a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id" class="imageI">
                    <img src="@Html.DisplayFor(modelItem => item.image)" alt="" onerror="this.onerror=null;this.src='../Content/Images/dogfood.jpg';" style="width:140px;height:140px;" />
                    </a>
                        <br/><br/>
                        <li style="list-style-type: none; padding-left: 5px; padding-right: 5px;"><a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">@Html.DisplayFor(modelItem => item.Naam)</a></li>
                </div>
            }
        </div>
    </div>
    <!--end selecting-->
           
    <!--begin page pagination-->
    @{
        string fvis;
        string lvis;
        var second = ViewBag.paginationindex - 1;
        var third = ViewBag.paginationindex + 1;
        if(second != 0)
        {
            fvis = "visible";
        }
        else
        {
            fvis = "hidden";
        }
        if(third >= (ViewBag.count/16)+2 )
        {
            lvis = "hidden";
        }
        else
        {
            lvis = "visible";
        }
        if(second < 1)
        {
            second = 1;
        }
    }
    <div class="flex-row">
        <div class="text-center">
            <ul class="pagination">
                <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                <li class="page-item" style="visibility:@fvis">
                <a class="page-link" asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="@ViewBag.animal" asp-route-P="@second"  asp-route-sel2="@ViewBag.sel2">@second</a></li>
                <li class="page-item"><a style="color:black;"class="page-link" asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="@ViewBag.animal" asp-route-P="@ViewBag.paginationindex" asp-route-sel2="@ViewBag.sel2">@ViewBag.paginationindex</a></li>
                <li class="page-item" style="visibility:@lvis"><a class="page-link" asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="@ViewBag.animal" asp-route-P="@third" asp-route-sel2="@ViewBag.sel2">@third</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            </ul>
        </div>
    </div>
    <!--end page pagination-->
</div>

