@{
    ViewBag.Title = "Friskies Pate";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<ul class="breadcrumb">
    <li><a href="../">Home</a></li>
    <li><a href="#">@ViewBag.Title</a></li>
</ul>
<div class="row">
    <div class="col-sm-4">
        <img src="../img/1221026.jpg" alt=">@ViewBag.Title"/>
    </div>
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2> 
        Lorem Ipsum
    </div>
</div>
<h3>Related options</h3>
<hr/>
<h3>Product information</h3>
<hr/>
