<!-- Dit is gemaakt door Pepijn Fijt, als jullie het niet begrijpen dan moet je even een berichtje versturen-->
@model IEnumerable<petgoods4all.Models.Voorraad>
@{
    ViewBag.Title = "My Wishlist";
}
<h2>
    @ViewBag.Title
</h2>
@if(@ViewBag.uID != 0 && @ViewBag.emptylist == false)
{
    @foreach(var item in Model)
    {
        <div class="row" style="background-color: #ffe8d3;">
            <div class="col-md-2">
                <br>
                <img src="@Html.DisplayFor(modelItem => item.image)" width="180px" height="100px"/>
            </div>
            <div class="col-md-4">
                <h3>@Html.DisplayFor(modelItem => item.Naam)</h3>
                <p>Kwantiteit: @Html.DisplayFor(modelItem => item.Kwantiteit)</p>
                <p>@Html.DisplayFor(modelItem => item.Prijs)</p>
            </div>
            <div class="col-md-3">
                <br><br>
                <form action="" method="POST">
                    <input type="hidden" value="@Html.DisplayFor(modelItem => item.Id)" name="pIDD">
                    <input type="submit" class="btn btn-warning" value="+ Add to Cart" name="Option" />
                <br/><br/>
                    <input type="submit" class="btn btn-danger" value="x Remove" placeholder="hello" name="Option" />
                </form>
                <br/>
                <br/>
            </div>
        </div>
        <br/>
        <br/>
    }
}
@if(@ViewBag.emptylist == true)
{
    <div style="background-color: #ffe8d3;">
        <h3>Je wishlist is leeg!</h3>
    </div>
}
@if(@ViewBag.uID == 0)
{
    <div style="background-color: #ffe8d3;">
        <h3 style="padding-top:10px;">Een wishlist is voor de gebruiker met een account</h3>
        <p  style="padding-left:50px;"><a asp-area="" asp-controller="Account" asp-action="Aanmelden">Maak nu een account aan </a>of<a asp-area="" asp-controller="Account" asp-action="Inloggen"> login in!</a></p>
    </div>
}
