<!-- Dit is gemaakt door Pepijn Fijt, als jullie het niet begrijpen dan moet je even een berichtje versturen-->
@model IEnumerable<petgoods4all.Models.Voorraad>
@{
    ViewBag.Title = "Mijn wensenlijst";
}
<head>
    <link rel="stylesheet" href="~/Content/shoppingcart.css" />
</head>
<div class="container-fluid" style="background-color:#ffe8d3;">
<h2>
    @ViewBag.Title
</h2>
@if(@ViewBag.uID != 0 && @ViewBag.emptylist == false)
{
    @if(ViewBag.productAdded != null)
    {
        <h5 style="color:red; padding-left: 20px;">Het product (@ViewBag.productAdded) is aan de winkelwagen toegevoegd!</h5>
    }
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="col-md-5">
                <br>
                <img src="@Html.DisplayFor(modelItem => item.image)" width="180px" height="100px"/>
            </div>
            <form action="" method="POST">
            <div class="col-md-4">
                <h3>@Html.DisplayFor(modelItem => item.Naam)</h3>
                Hoeveelheid:
                 @{var classb = "a"+ @item.Id;}
                <input onclick='clickFunction("@classb")' type="number" value="1" min="1" max="@Html.DisplayFor(modelItem => item.Kwantiteit)" id="hoeveelheid" name="hoeveelheid" class="form-control" required>
                <br/>
                <div class="alert alert-info " id="@classb" style="visibility:hidden">
                 Petgoods4All heeft nog <b>@Html.DisplayFor(modelItem => item.Kwantiteit)</b> product(en) in voorraad van @Html.DisplayFor(modelItem => item.Naam)!
                </div>
                <p>&#8364; @Html.DisplayFor(modelItem => item.Prijs)</p>
            </div>
            <div class="col-md-3">
                <br><br>
                    <input type="hidden" value="@Html.DisplayFor(modelItem => item.Id)" name="pIDD">
                    <input type="submit" class="btn btn-warning" value="+ Naar winkelwagen" name="Option" />
                    <br/><br/>
                    <input type="submit" class="btn btn-danger" value="x Verwijderen" placeholder="hello" name="Option" />
                
                <br/>
                <br/>
            </div>
            </form>
        </div>
        <hr>
        <br/>
        <br/>
        <script>
        function clickFunction(id) {
            document.getElementById(id).style.visibility = "visible";
        }
        </script>
    }
}
@if(@ViewBag.emptylist == true)
{
    <div>
        <h3>Je wensenlijst is leeg!</h3>
    </div>
}
@if(@ViewBag.uID == 0)
{
    <div>
        <h3 style="padding-top:10px;">Een wensenlijst is voor de gebruiker met een account</h3>
        <p  style="padding-left:50px;"><a asp-area="" asp-controller="Account" asp-action="Aanmelden">Maak nu een account aan </a>of<a asp-area="" asp-controller="Account" asp-action="Inloggen"> login!</a></p>
    </div>
}
</div>