
@{
    ViewBag.Title = "Producten";
}
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="~/Content/productBrowsen.css" />
</head>
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <h2>Zoeken</h2>
    <hr />
    <br />
    <!--Filters-->
    <div class="row">
    </div>
    <br />
    <!--end selecting-->
    <!--begin products-->
    <div id="browsProduct">
        <div class="row">
            <form method="post" asp-controller="Voorraad" asp-action="SearchFilter" asp-route-search="@ViewBag.SearchedString">
                Dier:<select id="DierDropdown" name="DierDropdown">
                  @foreach (var item in ViewBag.Dier) { 
                      <option value="@item">@item</option>
                  }
                </select>
                SubKlasse:<select id="SubklassDropwdown" name="SubklasseDropdown">
                    @foreach (var item in ViewBag.Subklasse)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                MinPrice:<input type="text" id="minPrice" name="minPrice"/>
                MaxPrice<input type="text" id="maxPrice" name="maxPrice"/>
                <input type="submit" />
            </form>
            
        </div>
        <div class="row">
            @foreach (var item in ViewBag.Voorraad)
            {
                <div id="browsProductContainer" class="col-sm-3 offset-1">
                    <img src="~/Content/Images/dogfood.jpg" alt="@ViewBag.Title" style="width:140px;height:140px;" />
                    <br />
                    <p><a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">@item.Naam</a> <br />&euro; @item.Prijs</p>
                </div>
            }
        </div>
    </div>
    <!--end products-->
    <!--begin page pagination-->
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
            </ul>
        </div>
    </div>
    <!--end page pagination-->
</div>

