
@{
    ViewBag.Title = "Producten";
}
<br />
<head>
    <link rel="stylesheet" href="~/Content/productBrowsen.css" />
</head>
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <h2>Zoeken</h2>
    <hr />
    <br />
    <!--Filters-->
    <div class="row">
    </div>
    <br />
    <!--end selecting-->
    <!--begin products-->
    <div id="browsProduct">
        <div class="row" style="margin-left:50px!important;">
            <form method="post" asp-controller="Voorraad" asp-action="ProductSearch" asp-route-s="@ViewBag.SearchedString">
                Dier:<select id="DierDropdown" name="DierDropdown">
                         <option></option>
                  @foreach (var item in ViewBag.Dier) { 
                      <option value="@item">@item</option>
                  }
                </select>
                SubKlasse:<select id="SubklassDropwdown" name="SubklasseDropdown">
                        <option></option>
                    @foreach (var item in ViewBag.Subklasse)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                MinPrijs:<input type="text" id="minPrijs" name="minPrijs"/>
                MaxPrijs<input type="text" id="maxPrijs" name="maxPrijs"/>
                <input type="submit" />
            </form>
            
            @foreach (var item in ViewBag.Voorraad)
            {
                @*<div id="browsProductContainer" class="col-sm-3 offset-1">
                    <img src="@item.image "  style="width:140px;height:140px;" />
                    <br />
                    <p><a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">@item.Naam</a> <br />&euro; @item.Prijs</p>
                </div>*@
                        <div id="browsProductContainer" class="col-lg-12">
                            <table>
                                <tr>
                                    <a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id" class="imageI">
                                        <img src="@item.image" alt="" onerror="this.onerror=null;this.src='../Content/Images/dogfood.jpg';" style="width:140px;height:140px;" />
                                    </a>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <li style="list-style-type: none;"><a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">@item.Naam</a></li>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <a asp-area="" asp-controller="Home" asp-action="productpage" asp-route-identication="@item.Id">
                                            &#8364; @item.Prijs
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            }
    </div>
    <!--end products-->
    <!--begin page pagination-->
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
            </ul>
        </div>
    </div>
    <!--end page pagination-->
</div>

