@{
    ViewBag.Title = "ShoppingCart";
}

<br><br><br>

<!-- HEADER, ORDER AND PRICE INDICATOR-->
<div class="row">
    <form class="form-products" method="post" asp-controller="Order" asp-action="OrderProducts">
        <div class="col-md-6">

            <h2>Prijs: $ @ViewBag.Prijs</h2>
            <input type="text" value="@ViewBag.Prijs" name="prijs" id="prijs" style="visibility:hidden">

        </div>

        <div class="col-md-6">
            <h2 align="right">

                <!--<button type="submit" asp-controller="Order" 
                asp-action="OrderProducts" class="btn btn-success col-sm-4" align="right">Bestellen</button>-->
                <button asp-controller="Order" asp-action="CustOrder" class="btn btn-success col-sm-4" align="right">Bestellen</button>

            </h2>
        </div>
    </form>
</div>

<br>

<!-- 1 ROW DIV REPRESENTS ONE ITEM -->

<!-- WHEN NOT HARDCODED THESE SHOULD BE GENERATED WITH A FOREACH -->
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <p align="left">Producten</p>
        </div>
    </div>
    <hr>
    @foreach (var item in ViewBag.ShoppingCart)
    {
        <div class="row">
            <div class="col-md-2">
                <br>
                <img src="~/Content/Images/@item.image" width="180px" />
            </div>
            <div class="col-md-2">
                <h3>@item.Naam</h3>
                <p>Kwantiteit: @item.Kwantiteit</p>
                <p>Prijs: $ @item.Prijs</p>
            </div>
            <div class="col-md-8">
                <br><br>
                <form class="form-products" method="post" asp-controller="Voorraad" asp-action="RemoveFromShoppingCart">
                    <button type="submit" asp-controller="Voorraad" asp-action="RemoveFromShoppingCart" asp-route-productId="@item.Id" class="btn btn-danger col-sm-4" align="right">Verwijderen</button>
                </form>
            </div>
        </div>
        <br>
        <hr>
    }
</div>


