@model IEnumerable<petgoods4all.Models.Account>

@{
    ViewData["Title"] = "Klant Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klanten</h2>

<p>
    <a asp-area="" asp-controller="Admin" asp-action="AdminCreateAccount">Nieuwe klant</a><br />
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.straatnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.huisnummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.provincie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefoonnummer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.achternaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.straatnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.huisnummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.provincie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefoonnummer)
                </th>
            <td>
                <a asp-action="AdminKlantEdit" asp-controller="Admin" asp-route-id="@item.id">Bewerken</a> |
                <a asp-action="AdminKlantDetails" asp-controller="Admin" asp-route-id="@item.id">Details</a> |
                <a asp-action="AdminKlantDelete" asp-controller="Admin" asp-route-id="@item.id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
