@model List<petgoods4all.Models.Account>
@{
    ViewData["Title"] = "Klant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //petgoods4all.Models.Account item = Model[0];
}

<h2>Klant Details</h2>

<div>
    <h2>Gegevens beheer</h2>
    <p>
        <a href="~/User/UserHome">Home</a>
    </p>
    <hr />
    <dl class="dl-horizontal">
        @foreach(var item in ViewBag.AccountData){
            @if(item.id == @ViewBag.userId)
            {
                <dt>
                    <p>email</p>
                </dt>
                <dd>
                    @item.email
                    
                </dd>
                <dt>
                    <p>password</p>
                </dt>
                <dd>
                    @item.password
                </dd>
                <dt>
                    <p>voornaam</p>
                </dt>
                <dd>
                   @item.voornaam
                </dd>
                <dt>
                    <p>voornaam</p>
                </dt>
                <dd>
                  @item.achternaam
                </dd>
                <dt>
                    <p>straatnaam</p>>
                </dt>
                <dd>
                    @item.straatnaam
                </dd>
                <dt>
                    <p>telefoonnummer</p>
                </dt>
                <dd>
                    @item.telefoonnummer
                </dd>
            }
        }
        <p>
            <a asp-action="updateGegevens">Update</a>
        </p>
    </dl>
</div>
